.banner-img img{
    height: 480px;
    width: 100%;
    position: relative;
  text-align: center;
  color: white; 
  opacity: 0,4;  
    
}
.banner-img{
   
}
.centered {
    position: absolute;
    margin: 30px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color:rgba(86, 96, 97, 0.493);
  }